.skills-grid {
	grid-column: 2/8;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	padding: 10px;
	background: var(--secondary);
	border-radius: 20px;
}

.skills-text {
	grid-column: 4/9;
	padding-left: 10px;
}

.skills-grid h1 {
	margin: 0;
	padding-top: 0;
	font-weight: 300;
}

.skills-grid h2 {
	font-size: 0.9em;
	text-transform: uppercase;
	font-family: 'Roboto';
	font-weight: 300;
	color: #FFFFFF;
}

.skills-img {
	grid-column: 2/4;
	width: auto;
	height: 60px;
	justify-self: center;
}

  
@media screen and (min-width: 768px) {

	.skills {
		padding: 25px 15px 35px 15px;
	}
  
	.skills-grid {
	  grid-column: span 4;
	  text-align: center;
	}

	.skills-grid h1 {
		text-align: left;
	}

	.skills-grid h2 {
		text-align: left;
	}

	.skills-text {
		grid-column: 3/9;
	}

	.skills-img {
		grid-column: 1/3;
	}
  
  }
  
@media screen and (min-width: 1000px) {
	.skills {
		padding: 0 150px 75px 150px;
	  }
}