/* MAIN NAV */

.nav {
    display: flex;
    justify-content: center;
    background-color: transparent;
    z-index: 1;
}

.main-nav{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    margin: 0;
}

.main-nav a {
    text-decoration: none;
    padding: 10px;
    transition: color 0.7s ease;
}

.main-nav a:hover{
    color: #E1B382;
}

.main-nav li {
    padding: 20px;
}

.logo {
    margin-right: auto;
}

#contact-nav-button {
    background-color: #2D545E;
    border: 0;
    padding: 5px 20px 5px 20px;
    color: #FFFFFF;
    font-family: 'Playfair Display';
    transform: color 0.7s ease;
    transform: background-color 0.7s ease;
}

#contact-nav-button:hover {
    color: #2D545E;
    background-color: #E1B382;
}

.active {
    color: #E1B382;
}