/* Reset */
:root {
  --primary: #2D545E;
  --secondary: #E1B382;
}
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

textarea {
  resize: none;
}

/* Base Styles */

body {
  font-family: 'Playfair Display';
  overflow-x: hidden;
  overflow: hidden;
}

/* Custom CSS Classes */

.primary-color {
  color: var(--primary);
}

.secondary-color {
  color: var(--secondary);
}

.roboto-text {
  font-family: 'Roboto';
  font-weight: 300;
}

.vertical-center-flex {
  display: flex;
  justify-content: center;
}

.horizontal-center-flex {
  display: flex;
  align-content: center;
}

.center-flex {
  display: flex;
  align-content: center;
  justify-content: center;
}

.fs-flex {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.bg-primary {
  background-color: var(--primary);
  color: #FFFFFF;
}

.bg-secondary {
  background-color: var(--secondary);
  color: var(--primary);
}


/* Small Phones */

@media screen and (min-width: 320px) {
  #dot-grid {
    width: auto;
    height: 350px;
    /* margin-left: 75px; */
    padding-bottom: 50px;
  }

  .footer-img {
    width: auto;
    height: 30px;
    padding: 15px 8px 15px 8px;
  }

  .align-left {
    justify-items: right;
  }
}


/* Small devices and phones */

@media screen and (min-width: 480px) {

}

/* Tablets */

@media screen and (min-width: 768px) {

}

@media screen (min-width: 992px) {


}