/* Reset */
:root {
  --primary: #2D545E;
  --secondary: #E1B382;
}

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

textarea {
  resize: none;
}

/* Base Styles */

body {
  font-family: 'Playfair Display';
  overflow-x: hidden;
  color: var(--primary);
}

nav a {
  color: var(--primary);
  transition: color 1s ease;
}

nav a:hover {
  color: var(--secondary);
}

/* Custom CSS Classes */

.primary-color {
  color: var(--primary);
}

.secondary-color {
  color: var(--secondary);
}

.roboto-text {
  font-family: 'Roboto';
  font-weight: 300;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.vertical-center-flex {
  display: flex;
  justify-content: center;
}

.horizontal-center-flex {
  display: flex;
  align-content: center;
}

.center-flex {
  display: flex;
  align-content: center;
  justify-content: center;
}

.fs-flex {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.fe-flex {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.bg-primary {
  background-color: var(--primary);
  color: #FFFFFF;
}

.bg-secondary {
  background-color: var(--secondary);
  color: var(--primary);
}

.border-secondary {
  border: 2px solid var(--secondary);
}

/* Layout */

.nav-logo {
  grid-column: 2/3;
}

.nav-menu {
  grid-column: 4/8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-menu li {
  padding: 0px 8px;
}



.skills-grid {
  grid-column: 2/8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 20px 20px 20px 20px;
  background: var(--secondary);
  border-radius: 20px;
}

.skills-text {
  grid-column: 4/9;
}

.skills-grid h1 {
  margin: 0;
  padding-top: 0;
  font-weight: 300;
}

.skills-grid h2 {
  font-size: 0.9em;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 300;
  color: #FFFFFF;
  
}
.skills-img {
  grid-column: 2/4;
  width: auto;
  height: 60px;
  justify-self: center;
}

.about-top {
  padding-bottom: 35px;
}

.about-grid {
  grid-column: 2/8;
  display: flex;
  padding: 0 20px 20px 20px;
  text-align: center;
  align-content: center;
  flex-direction: column;
}

.circle-pattern {
  margin-left: -110px;
}

.about-lower h1 {
  text-align: center;
  margin-top: -100px;
  padding-left: 100px;
  width: 80%;
}

.lower-image-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.profile-pic {
  grid-column: 1/5;
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  padding-left: 25px;
}

.abstract-column {
  grid-column: 5/9;
  width: 100%;
  object-fit: cover;
  padding-left: 30px;
  margin-top: -250px;
}

#contact h1,
#contact h3 {
  text-align: center;
  color: var(--primary);
}

#contact h3 {
  padding: 30px;
}

#contact form {
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
  padding-bottom: 50px;
}

#contact input,
#contact textarea {
  width: 100%;
  margin: 10px 0;
  border: 2px solid var(--secondary);
  padding: 5px;
}

#contact input {
  height: 40px;
}

#contact textarea {
  height: 200px;
  font-size: 16px;
  
}

#contact .button {
  margin-top: 10px;
  padding: 10px 25px;
  background: var(--primary);
  border: none;
  color: #FFFFFF;
  transition: background 1s ease;
}

#contact .button:hover {
  background: var(--secondary);

}

.contact-form {
  grid-column: span 8;
}

.contact-lower {
  grid-column: span 8;
  background: var(--secondary);
}

.social-links {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
}

.instagram {
  padding: 0 10px;
  height: 50px;
  
}

.github {
  padding: 0 10px;
  height: 50px;
}

footer a {
  color: var(--primary);
}

footer {
  font-size: 0.8em;
  color: var(--primary);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
}

.footer-left {
  padding-top: 10px;
  grid-column: 2/5;
}

.footer-right {
  grid-column: 6/8;
}


/* Small Phones */

@media screen and (min-width: 320px) {


  #dot-grid {
    width: auto;
    height: 350px;
    padding-bottom: 50px;
  }

  .footer-img {
    width: auto;
    height: 30px;
    padding: 15px 8px 15px 8px;
  }

  .align-left {
    justify-items: right;
  }

  .abstract-column {
    padding-left: 60px;
  }

}


/* Small devices and phones */

@media screen and (min-width: 480px) {

}

/* Tablets */

@media screen and (min-width: 768px) {

  body {
    font-size: 18px;
  }

  #dot-grid {
    margin-left: 100px;
  }

  .lower-hero-text {
    padding-right: 35px;
  }

  .skills-grid {
    grid-column: span 4;
    text-align: center;
  }

  .abstract-column {
    grid-column: 6/9;
    width: 80%;
    object-fit: cover;
    padding-left: 30px;
    margin-top: -250px;
  }

}

@media screen and (min-width: 1000px) {

  body {
    font-size: 20px;
  }

  .nav-menu li {
    padding: 0 12px;
  }

  .hero-text h2 {
    font-size: 2em;
  }
  .hero-text h1 {
    font-size: 4em;
  }

  .skills {
    padding: 0 150px 75px 150px;
  }

  .about-top {
    padding-top: 50px;
    gap: 20px;
  }

  #relationship {
    grid-column: 2/4;
  }

  #design {
    grid-column: 4/6;
  }

  #develop {
    grid-column: 6/8;
  }

  .about-lower h1 {
    font-size: 3em;
  }

  .profile-pic {
    width: 80%;
    padding-left: 50px;
  }

  .abstract-column {
    grid-column: 6/9;
    width: 80%;
    padding-left: 50px;
    margin-top: -300px;
  }

  .contact-form {
    grid-column: 5/9;
  }
  
  .contact-lower {
    grid-column: 1/5;
    grid-row: 1;
    background: transparent;
    justify-self: center;
    align-self: center;
  }

  .nav-background {
    grid-column: 1/5;
    grid-row: 1;
    top: 0;
    margin-top: -150px;
    margin-bottom: -150px;
    background-color: var(--secondary);
    z-index: -4;
  }

  footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-right { 
    grid-column: 8/9;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 22px;
  }

  .nav-menu li {
    padding: 0 15px;
  }

  .column-dot {
    padding-left: 50px;

  }

  .about-top {
    padding-bottom: 70px;
  }

  .profile-pic {
    grid-column: 2/5;
    width: 80%;
    padding-left: 50px;
  }

  .abstract-column {
    grid-column: 7/9;
    width: 80%;
    padding-left: 50px;
    margin-top: -300px;
  }

}